
<link rel="stylesheet" href="/css/home.css">    

<link rel="stylesheet" href="/css/chat_box.css">
       

        <% if (!locals.user) {%>
          <div class="hero" >

            <div class="hero__container">
              <div class="hero__container--left">

                <span class="loader"></span>
                <h1>Social media website</h1>
                <h3>Created by Sankha</h3>
                <p>Welcome !!!!</p>
          <button class="hero__container--btn"><a href="/users/sign-up">Sign Up</a></button>
          <button class="hero__container--btn"><a href="/users/sign-in">Sign In</a></button>
        </div>
        <div class="hero__container--right">
          <!-- <img
            
            src="images/m.svg"
           
            alt="alien"
            class="hero__container--img"
          /> -->
          <!-- <img
            
            src="images/m1.png"
           
            alt="alien"
            class="hero__container--img"
          /> -->
          <img
            
          src="images/as.svg"
         
          alt="alien"
          class="hero__container--img" style="height: 60%;"
        />
        </div>
      </div>
       <% } else {%>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
          $(document).ready(function(){
            $("#1").click(function(){
            $("#user-chat-box").fadeToggle();
            
            });
          });
          </script>
          
          	<button id="1" style="margin: 2%;border-radius:25px;padding: 5px;background-color: #a29bfe;color: #000;font-size: larger;padding-left: 20px;padding-right: 20px;font-weight:bold;border: 2px solid #6c5ce7 ;">Chatroom</button><br><br>
        


        <div id="home-container">
        <section id="feed-posts">
          <br><br>
          <!-- <span class="Loader"></span> -->
        <!-- posts section $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
         <div class="post-avatar">
           <br>
          <h2> Whats in your mind <h2>
          <h2><%= locals.user.name %> ???</h2>
          <br>
          <h2>Let us know!!!!!!!</h2>
          <br>
          <form action="/posts/create" id="new-post-form" enctype="multipart/form-data" method="POST">
            <input type="file" name="avatar" placeholder="Profile Picture" required>
            <div class="form_control">
<!--             
              <input type="file" name="avatar" placeholder="Profile Picture" required> -->
              <!-- <label for="fileUpload">Upload file</label> -->
              <br><br>
            <input type="text" name="content"  placeholder="start typing....." required autofocus></textarea>
            <br>
          </div>
           
           
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="button" value="Add post">
         
          </form>
        </div>
          <div id="posts-list-container">
            <ul>
              <% for(post of posts){%>

                <div class="whole" id="p-<%= post._id %>">





                <li id="post-<%= post._id %>">
                  <br><br><br>
                  <p>
                   
                    <img  class="header-img"  src="<%=post.user.avatar%>" width="7%" height="7%" alt="">
                    <br>
                    
                    
                    <div class="pst" style="border-radius: 15px;align-items: center;display: inline-block;border: 4px solid #00bbf0 ;padding: 15px;">
                      <%= post.user.name %> : <%= post.content %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
                     <% if  ( locals.user && locals.user.id == post.user.id){ %>
                       
                     
                         <a class="delete-post-button" href="/posts/destroy/<%= post.id %>"><i class="fas fa-trash fa-2x" style="color: orangered;"></i></a>
                       
                       <% } %>
 
                     </div>
                   
 
                    <img src="<%= post.avatar%>"  width="100%" height="100%" alt=" " style="background-size:cover">
                    <br>
                    

                    



                    <!-- <img class="postimg" src="images/post.png" alt="">  -->
                    <!-- <i class="fas fa-cannabis fa-2x"></i> -->
                    <!-- <img src="images/mail.png" width="10%" height="10%" alt=""> -->
                   

                   
                      <!-- display the likes of the post if the user is logged in then 
                      show the link to toggle likes , else just show the count -->
                      

                      <small>

                        <br>
                        <% if(locals.user){ %>
                          <a href="/likes/toggle/?id=<%= post._id%>&type=Post" class="toggle-like-button" data-likes="<%= post.likes.length %>" style="text-decoration: none;color: blanchedalmond;">
                            <i class="fas fa-heart fa-2x" style="color: orangered;">&nbsp</i>
                            <%= post.likes.length %>&nbsp;likes
                          </a>
                          <br>
                         
                        <% }else{ %>
                          <%= post.likes.length %>likes
                        <% } %>
                      </small>
                   
                    <br>
                  
                    <br>
                  </p>




                      <!-- posts section $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

 

                      <!-- comments section   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->




                  <div class="post-comments">
                    <% if (locals.user){ %>
                        <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="POST">
                          
                            <div class="form_control" style="display:inline-block;">

                           
                            <input type="text" name="content" placeholder="Write comment..." required autofocus style="width: 100%;">
                            
                  
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="button" type="submit" value="Add Comment">

                             <!-- we want to send the post id of comment 
                        the id at which i want to add the comment to -->
                            <input type="hidden" name="post" value="<%= post._id %>" >
                         
                        </form>
                        

                    <% } %>

                </div>
          <div class="post-comments-list" style="align-items: center;">
            <ul id="post-comments-<%= post._id %>">
                    <% for (comment of post.comments){%>

                <li id="comment-<%= comment._id %>">
                      <p>
 
                        <br>
                       
                        <br>
                        <img  class="header-img"  src="<%=comment.user.avatar%>" width="7%" height="7%" alt="" style="display: inline-block;">
                        
                        <div class="cmnt" style="border-radius: 15px;align-items: center;display: inline-block;border: 4px solid lime ;padding: 15px;">
                          
                          <%= comment.user.name %> :

                          <%= comment.content %>
                          <% if  (locals.user && locals.user.id == comment.user._id){ %>
                            
                            
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>"><i class="fas fa-trash-alt fa-2x" style="color: orangered;"></i></a>
                            
                            
                            
                           
                            <br>
                            <% } %>
   


                        </div>
                       
                     
              
                          
                          
                         
                        </small>
                      </p>

                     
                      <br>
                      <small>
                        <!-- display the likes of this comment if the user is logged in then show the link to toggle likese
                            else just show the count -->
                        <% if(locals.user){ %>
                          <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%= comment._id%>&type=Comment" style="text-decoration: none;color: blanchedalmond;">
                            <!-- <%= comment.likes.length %>likes -->
                            <i class="fas fa-heart fa-2x" style="color: orangered;">&nbsp</i><%= comment.likes.length %>&nbsp;likes
                          </a>
                        <% }else{ %>
                          <%= comment.likes.length %>likes
                        <% } %>
                      </small>
                </li>
                      <%} %>                  
                  </ul>
                </div>


                <!-- comments section %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
                
                </li>
              </div>
                <% } %>

            </ul>
          </div>
          
        </section>

        <section id=user-friends>
          <br> <br>
          <img class="frnds-img" src="images/laugh.png" height="65px">
          <h3 style="color:#00bbf0;">
            
         Friends</h3>
          <% for(u of all_users) {%>
            <br>
            <p>
              
              <i class="fas fa-user" style="color:palegoldenrod ;"></i>
             

              <a style="color:palegoldenrod ;text-decoration:none;"  href="/users/profile/<%= u.id %>"><%= u.name%></a>
            </p>

            <% } %>


        </section>

        
    <%- include('_chat_box') -%>
      </div>
        <% }%>
       
    

     <!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->

<script src="js/_toggle_likes.js"></script>
<script>
    
    $('.toggle-like-button').each(function(){
    
    new toggleLike(this);
});

</script>
 <!-- importing this script for creating the comments -->
 <script src="/js/home_post_comments.js" ></script>
 <script src="/js/home_posts.js"></script>

 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
 
<script src="/js/chat_engine.js"></script>
<% if (locals.user){ %>
  <script>
      new ChatEngine('user-chat-box', '<%= locals.user.name %>')
  </script>
  <% } %>