
<link rel="stylesheet" href="/css/home.css">    

<link rel="stylesheet" href="/css/chat_box.css">


        <% if (!locals.user) {%>
          <div class="hero" >

            <div class="hero__container">
              <div class="hero__container--left">

                <span class="loader"></span>
                <h1>Social media website</h1>
                <h3>Codeial</h3>
                <p>Created by Sankha!!!!</p>
          <button class="hero__container--btn"><a href="/users/sign-up">Sign Up</a></button>
          <button class="hero__container--btn"><a href="/users/sign-in">Sign In</a></button>
        </div>
        <div class="hero__container--right">
          <!-- <img
            
            src="images/m.svg"
           
            alt="alien"
            class="hero__container--img"
          /> -->
          <!-- <img
            
            src="images/m1.png"
           
            alt="alien"
            class="hero__container--img"
          /> -->
          <img
            
          src="images/as.svg"
         
          alt="alien"
          class="hero__container--img" style="height: 60%;"
        />
        </div>
      </div>
       <% } else {%>
        <body style="background-image: url(images/g.jpg);background-size: cover;
		background-position: center;
		background-attachment: fixed;">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
          $(document).ready(function(){
            $(".msg").click(function(){
            $("#user-chat-box").fadeToggle();
            
            });
          });
          </script>
          <!-- <span class="looder"> -->
           
             <!-- <i class="msg fas fa-comment-dots fa-5x" style="margin: 2%;margin-left: 50px;"></i> -->

          <!-- </span> -->
         
         
          	<!-- <button id="1" style="margin: 2%;border-radius:25px;padding: 5px;background-color: #a29bfe;color: #000;font-size: larger;padding-left: 20px;padding-right: 20px;font-weight:bold;border: 2px solid #6c5ce7 ;">
              
              Chatroom</button><br><br> -->


              
               
               
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
              <script>
                $(document).ready(function(){
                  $(".mssg").click(function(){
                  $(".FRND").fadeToggle();
                  
                  });
                });
                </script>
                
        


        <div id="home-container">
        <section id="feed-posts">
          
          
          
       
        
        

          
          <!-- <span class="Loader"></span> -->
        <!-- posts section $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
         <div class="post-avatar" style="background-color:#f95959 ;color: black;border: 4px solid black;" >
           <br>
          <h2> Whats in your mind today <h2>
           
          <form action="/posts/create" id="new-post-form" enctype="multipart/form-data" method="POST">
            <!-- <input type="file" name="avatar" placeholder="Profile Picture" style="display:none;" required> -->
            <input type="text" name="content"  placeholder="start typing....." required autofocus style="border:2px solid black;border-radius: 15px;background-color: white;  box-shadow:0 2px 20px -3px black;padding: 2%;"></textarea>
            <div id='update-avatar'><span style="display: inline-block;"></span>   <input type="file" name="avatar" id="img" style="display:none;">
              

              
              <h4 style="color: black;">Upload Avatar&nbsp;&nbsp;</h4>
              <label id='avatar-inp' for="img"><img class="frnds-img" src="images/uo.png" height="35px"> </label></div>
              <br>
              <input id='update-btn' type="submit" class="button"  value="Update">

            <div class="form_control">
<!--             
              <input type="file" name="avatar" placeholder="Profile Picture" required> -->
              <!-- <label for="fileUpload">Upload file</label> -->
              <br>
           
            <br>
            <br>
            <br>
          </div>
           
           
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="button" value="Add post"> -->
         
          </form>
        </div>
          <div id="posts-list-container">
            <ul>
              <% for(post of posts){%>

                <div class="whole" id="p-<%= post._id %>">





                <li style="color: #1b789c;" id="post-<%= post._id %>">
                  <br>
                  <p>
                    <% if(post.user.avatar){ %>
                      <img  class="header-img"  src="<%=post.user.avatar%>" width="10%" height="10%" alt="" style="border:2px solid black;">
                     
                 
                  <% }else {%>
                  
                      <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" class='header-img' width="10%" height="10%" style="border:2px solid black;">
                  <% } %>





                   
                    
                    <br>
                    
                    
                    <div class="pst" style="border-radius: 15px;align-items: center;display: inline-block;border: 4px solid #1b789c ;padding: 15px;background-color: lightgray;">
                      <%= post.user.name %> : <%= post.content %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
                     <% if  ( locals.user && locals.user.id == post.user.id){ %>
                       
                     
                         <a class="delete-post-button" href="/posts/destroy/<%= post.id %>"><i class="fas fa-trash fa-2x" style="color: orangered;"></i></a>
                       
                       <% } %>
 
                     </div>
                   
                     <br>
                     <br>
                    <img src="<%= post.avatar%>"  width="100%" height="100%" alt=" " style="background-size:cover;box-shadow:0 2px 20px -3px black;border-radius: 15px;border: 4px solid black;">
                    <br>
                    

                    



                    <!-- <img class="postimg" src="images/post.png" alt="">  -->
                    <!-- <i class="fas fa-cannabis fa-2x"></i> -->
                    <!-- <img src="images/mail.png" width="10%" height="10%" alt=""> -->
                   

                   
                      <!-- display the likes of the post if the user is logged in then 
                      show the link to toggle likes , else just show the count -->
                      

                      <small>

                        <br>
                        <% if(locals.user){ %>
                          <a href="/likes/toggle/?id=<%= post._id%>&type=Post" class="toggle-like-button" data-likes="<%= post.likes.length %>" style="text-decoration: none;color: #1b789c;">
                            <i class="fas fa-heart fa-2x" style="color: orangered;">&nbsp</i>
                            <%= post.likes.length %>&nbsp;likes
                          </a>
                          <br>
                         
                        <% }else{ %>
                          <%= post.likes.length %>likes
                        <% } %>
                      </small>
                 
                  </p>




                      <!-- posts section $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

 

                      <!-- comments section   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->




                  <div class="post-comments">
                    <% if (locals.user){ %>
                        <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="POST">
                          
                            <div class="form_control" style="display:inline-block;width:50%;">

                           
                            <input type="text" name="content" placeholder="Write comment..." required autofocus style="width: 100%;border:4px solid #1b789c ;border-radius: 15px;background-color: lightgray;padding: 2%;color:#1b789c ;">
                            
                  
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="button" type="submit" value="Add Comment">

                             <!-- we want to send the post id of comment 
                        the id at which i want to add the comment to -->
                            <input type="hidden" name="post" value="<%= post._id %>" >
                         
                        </form>
                        

                    <% } %>

                </div>
          <div class="post-comments-list" style="align-items: center;">
            <ul id="post-comments-<%= post._id %>">
                    <% for (comment of post.comments){%>

                <li id="comment-<%= comment._id %>">
                      <p>
 
                        <br>
                       
                        <br>
                        <% if(comment.user.avatar){ %>
                 
                          <img  class="header-img"  src="<%=comment.user.avatar%>" width="10%" height="10%" alt="" style="display: inline-block;padding-top: 0%;border:2px solid black;">
                     
                      <% }else {%>
                      
                          <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" class='header-img' width="10%" height="10%" style="border:2px solid black;">
                      <% } %>
    











                       
                        
                        <div class="cmnt" style="border-radius: 15px;align-items: center;display: inline-block;border: 4px solid #1b789c ;padding: 15px;background-color: lightgray">
                          
                          <%= comment.user.name %> :

                          <%= comment.content %>
                          <% if  (locals.user && locals.user.id == comment.user._id){ %>
                            
                            
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>"><i class="fas fa-trash-alt fa-2x" style="color: orangered;"></i></a>
                            
                            
                            
                           
                            <br>
                            <% } %>
   


                        </div>
                       
                     
              
                          
                          
                         
                        </small>
                      </p>

                     
                      <br>
                      <small>
                        <!-- display the likes of this comment if the user is logged in then show the link to toggle likese
                            else just show the count -->
                        <% if(locals.user){ %>
                          <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%= comment._id%>&type=Comment" style="text-decoration: none;color: #1b789c;">
                            <!-- <%= comment.likes.length %>likes -->
                            <i class="fas fa-heart fa-2x" style="color: orangered;">&nbsp</i><%= comment.likes.length %>&nbsp;likes
                          </a>
                        <% }else{ %>
                          <%= comment.likes.length %>likes
                        <% } %>
                      </small>
                </li>
                      <%} %>                  
                  </ul>
                </div>


                <!-- comments section %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
                
                </li>
              </div>
                <% } %>

            </ul>
          </div>
          
        </section>
        

        <section id=user-friends>
          <br> <br>
          <img class="frnds-img" src="images/laugh.png" height="65px">
          <h3 style="color:white;">
            
         All users</h3>
          <% for(u of all_users) {%>
            <br>
            <p>
              <!-- <img  class="header-img"  src="<%=u.avatar%>" width="2.5%" height="2.5%" alt=""> -->
              <!-- <i class="fas fa-user fa-2x" style="color:#086a90;"></i> -->
              <% if(u.avatar) {%>
                <img src="<%=u.avatar%>" class="header-img" width="40" height="40">
                <% }else{%>
                  <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" class='header-img' width="40" height="40">
                  <%}%>

             

              <a style="color:white; ;text-decoration:none;"  href="/users/profile/<%= u.id %>"><%= u.name%></a>
              <div id='details'>
              <!-- <a href="/users/removefriend/?id=<%=u._id%>&type=<%=locals.user.id %>"><button class='UnFriend'>UnFriend</button></a> -->
            </div>
            </p>

            <% } %>


        </section>
         
        <div class="FRND"style="animation: cubic-bezier(0.55, 0.085, 0.68, 0.53);background-color:#f95959;width:20%;border-radius: 5px;padding: 2%;color: white;border: 4px solid black;margin-right:0% ;">
            
          <div class=".boxContainer" style=" margin: auto;
              
          position: relative;
          width:min-content;
          border-radius: 30px;
          padding: 0px 2%;
          background-color: white;
         
          border: 4px solid black;margin-bottom: 5%; ">
          
              <table class="elementsContainer" style="width:100%; height:100%; vertical-align:middle;">
              <tr>
                  <td>

              
              <form id="search-form" action="/users/search"  method="GET">
                  
                      <input type="text" name="name" placeholder="Find People" required class="search" style="border: none;
                      padding: 5%;
                      border-radius: 50px;
                      font-weight: 500;
                      outline: none;
                      ">
                  </td>
                  <td>
                      <!-- <a type="submit" id="searchbtn"> <i class="fa fa-search" style="color: tomato;"></i></a> -->
                      <button type="submit" id="searchbtn" style="background-color: transparent;border: 0px;"><i class="fa fa-search fa-2x" style="color: tomato;"></i></button>
                  </td>
              </form>
          
          </tr>
          </table>
          </div>
          <br>
          
          <a class="nav-link" href="/users/profile/<%= locals.user.id %>"style="text-decoration: none;color: black;">
            <h3>
              <% if(user.avatar){ %>
                <img  class="header-img" alt="img"   src="<%=user.avatar%>" width="40" height="40" style="border:2px solid black;">
           
            <% }else {%>
            
                <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" class='header-img' width="45" height="45" style="border:2px solid black;">
            <% } %>
              User:<%= locals.user.name %></h3></a>
          <br>
          
         
            <a class="nav-link" href="/users/friends" style="text-decoration: none;color: black;"><h3>
              <img class="frnds-img" src="images/f.png" height="30px">
              My Friends</h3></a>
        
          <br>
            <a class="nav-link" href="/users/friend-requests" style="text-decoration: none;color: black;"><h3>
              <img class="frnds-img" src="images/fr.png" height="30px">
              Friend Requests</h3></a>
       <br>
       
          <a class="nav-link" href="/friends/all" style="text-decoration: none;color: black;">
            
            <h3>
              <img class="frnds-img" src="images/af.png" height="30px">
              Add Friend</h3></a>
      

        </div>
     

        
   
      </div>
        <% }%>


       
    

     <!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->

<script src="js/_toggle_likes.js"></script>
<script>
    
    $('.toggle-like-button').each(function(){
    
    new toggleLike(this);
});

</script>
 <!-- importing this script for creating the comments -->
 <script src="/js/home_post_comments.js" ></script>
 <script src="/js/home_posts.js"></script>

 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
 
<script src="/js/chat_engine.js"></script>
<!-- <% if (locals.user){ %>
  <script>
      new ChatEngine('user-chat-box', '<%= locals.user.name %>')
  </script>
  <% } %> -->