<!-- 
<link rel="stylesheet" href="/css/home.scss"> -->
<link rel="stylesheet" href="/css/home.css">
<!-- <link rel="stylesheet" href="/css/footer.css"> -->
     

<!-- <div class="hero" >

    <div class="hero__container">
      <div class="hero__container--left">
        <h1>Social media website</h1>
        <h2>Created by Sankha</h2>
        <p>Sign up now to join the list.</p> -->
       

        <% if (!locals.user) {%>
          <div class="hero" >

            <div class="hero__container">
              <div class="hero__container--left">
                <h1>Social media website</h1>
                <h3>Created by Sankha</h3>
                <p>Sign up now to join the list.</p>
          <button class="hero__container--btn"><a href="/users/sign-up">Sign Up</a></button>
          <button class="hero__container--btn"><a href="/users/sign-in">Sign In</a></button>
        </div>
        <div class="hero__container--right">
          <img
            src="images/img-2.svg"
            alt="alien"
            class="hero__container--img"
          />
        </div>
      </div>
       <% } else {%>
        <!-- <button class="hero__container--btn"><a href="/users/sign-out">Sign Out</a></button> -->


        <div id="home-container">
        <section id="feed-posts">
          <br><br>
          <!-- <img class="postimg" src="images/post.png" alt=""> -->
          <h4><img class="postimg" src="images/post.png" alt="">  Posts</h4>
         
          <form action="/posts/create" id="new-post-form" method="POST">
            <div class="form_control">
              <!-- <input type="file" name="avatar" placeholder="Profile Picture">
              <br><br> -->
            <textarea type="text" name="content"  cols="25" rows="2" placeholder="type here.." required></textarea>
            <br>
          </div>
            <!-- <img class="postimg" src="images/post.png" alt=""> -->
           
          <input type="submit" class="button" value="Add post">
         
          </form>
        
          <div id="posts-list-container">
            <ul>
              <% for(post of posts){%>
                <li id="post-<%= post._id %>">
                  <br>
                  <p>
                   
                    <!-- <small>
                      <a href="/posts/destroy/<%= post.id %>">delete</a>
                    </small> -->
                    <!-- <img class="postimg" src="images/zip.png" alt=""> -->
                    
                    <!-- <i class="fas fa-comments"></i> -->


                    
                    <!-- <img src="<%=post.user.avatar%>" alt="<%=post.user.name %>" width="100">
                    <br> -->
                    <img class="postimg" src="images/post.png" alt="">

                    



                   <%= post.user.name %> :<small><%= post.content %></small>
                    <!-- if the user is signed in is same as user who created posts -->
                    <% if  ( locals.user && locals.user.id == post.user.id){ %>
                      <small>
                        <a class="delete-post-button" href="/posts/destroy/<%= post.id %>"><i class="fas fa-trash" style="color: orangered;"></i></a>
                      </small>
                      <% } %>
                   
                    <br>
                    <!-- <br>
                    <small><%= post.user.name %></small>
                    <br> -->
                    <br>
                  </p>
                  <div class="post-comments">
                    <% if (locals.user){ %>
                        <form action="/comments/create" method="POST">
                          
                            <div class="form_control" style="display:inline-block;">
                            <!-- <i class="fas fa-comments"></i> -->
                            <input type="text" name="content" placeholder="Type Here to add comment..." required autofocus>
                  
                        </div>
                        <input class="button" type="submit" value="Add Comment">

                            <!-- <input type="text" name="content" placeholder="Type Here to add comment..." required autofocus> -->
                             <!-- we want to send the post id of comment 
                        the id at which i want to add the comment to -->
                            <input type="hidden" name="post" value="<%= post._id %>" >
                            <!-- <input class="button" type="submit" value="Add Comment"> -->
                        </form>

                    <% } %>

                </div>
                <div class="post-comments-list">
                  <ul id="post-comments-<%= post._id %>">
                    <% for (comment of post.comments){%>
                      <p>
<!-- 

                        <% if  ( locals.user && locals.user.id == comment.user.id){ %>
                          <small>
                            <a href="/comments/destroy/<%= post.id %>"><i class="fas fa-trash" style="color: orangered;"></i></a>
                          </small>
                          <% } %> -->





                        <!-- <%= comment.content %> -->
                        <br>
                        <i class="fas fa-comments" style="color: #42b883;"></i>
                        <%= comment.user.name %>:
                        <small>
                          <%= comment.content %>
                          <% if  ( locals.user && locals.user.id == comment.user.id){ %>
                            <small>
                              <a href="/comments/destroy/<%= comment.id %>"><i class="fas fa-trash-alt" style="color: orangered;"></i></a>
                            </small>
                            <br>
                            <% } %>
                          <!-- :<%= comment.user.name %> -->
                        </small>
                      </p>
                      <%} %>                  
                  </ul>
                </div>
                
                </li>
                <% } %>

            </ul>
          </div>
          
        </section>
        <section id=user-friends>
          <br> <br>
          <img src="images/laugh.png" alt="">
          <h4>
            
            Friends</h4>
          <% for(u of all_users) {%>
            <br>
            <p>
              
              <i class="fas fa-user" style="color:palegoldenrod ;"></i>
              <!-- <img style class="header-img"  src="<%=u.avatar%>"  width="30" height="30"> -->

              <a style="text-decoration: none;" href="/users/profile/<%= u.id %>"><%= u.name%></a>
            </p>

            <% } %>


        </section>
      </div>
        <% }%>
       
     <!-- <script src="/js/home_posts.js"></script> -->