<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>
        <%= title %>
        

    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
</head>
<body>
    <%- include("_header"); %>
    <!-- // watever view is rendered from controller comes inside body -->
    <%-body %>
    <%- include("_footer"); %>

    <%-script %>
    
</body>
</html>
<!-- // the script and style tag puts diff styles and scripts for coreesponding pages -->